body {
    font-family: 'Lato';
    color: #000000;
    padding-left: 30px;
    padding-bottom: 50px;
    margin-top: 0;
}
/*
.topmenu {
}

.topmenu ul {
    padding: 0;
    margin-top: 3px;
}

.topmenu li {
    display: inline;
    margin-right: 50px;
}

.topmenu a:link {
    color: #002b3d;
}

.topmenu a:visited {
    color: #002b3d;
}

.topmenu a:hover {
    color: #0000FF;
}

.topmenu a {
    text-decoration: none;
}
*/
#pagetitle {
    color: #fb8b00;
    font-size: 1.6em;
    margin-top: 18px;
}

.project_post {
    border-bottom: 2px #ccc9c2 solid;
    padding-bottom: 10px;
    width: 600px;
}

.project_post img {
    margin-top: 10px;
    margin-right: 8px;
}

.project_title {
    font-size: 2.4em;
    color: #565248;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 10px;
}

.project_time {
    font-size: 0.36em;
    color: #565248;
    font-weight: normal;
    display: inline;
    margin-left: 4px;
}

.project_body {
    font-size: 0.8em;
}

#goleftandright_screenshots img {
    width: 130;
}

